@import "@fontsource/cormorant-garamond";
@import "@fontsource/inter";

@import "tailwindcss";

:root {
  --background: #f8f7f5;
  --foreground: #1c1917;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left, rgba(255,255,255,0.8), transparent 40%),
    radial-gradient(circle at bottom right, rgba(220,220,220,0.5), transparent 40%),
    #f8f7f5;

  color: var(--foreground);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}
